/* regole generali di pagina*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}

.col,
.col_video,
.col_info {
    /* DEBUG */
    /*height: 100px;*/
    /*background-color: red;*/
    /*border: solid 1px #000;*/
    text-align: left;
}

/* header*/
header{
    height: 150px;
    background-color: #fff;
}

/* regole contenuto principale*/
.container{
    width: 80%;
    margin: 30px auto;
    /*DEBUG*/
    /*background-color: green;*/
    /*height: 500px;*/
}
.end-one .end-two{
    text-align: center;
    background-color: red;
    border: solid 1px #000;
}

.end-two{
    margin-top: 5%;
    
}
.address{
    padding-top: 2%;
}


.h3{
    text-align: left;
    margin-left: 10px;
}

/* regole contenuto pagina*/
.banner{
    display: none;
    /*DEBUG*/
    background-color: yellow;
    height: 30px;
}

img{
    width: 100%;
    background-position:cover ;
}

#Presentation img{
    width: 50%;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;

}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.container-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fa-facebook{
    
}

.link{
    background-color: #fff;
    text-decoration: none;
    display: flex;
    padding: 10px 20px;
    border-radius: 999999999px;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    width: auto;
    flex-wrap: wrap; 
}


ul .pinco{
    list-style: none;
    margin: 5px;
    display: block;
}


ul li{
    list-style: none;
    margin: 5px;
    display: inline;
    margin-top: 5%;
    margin-bottom: 5%;
}



/*footer*/
footer{
    background-color: blueviolet;
    /*DEBUG*/
    /*height: 150px;*/
    text-align: center;
    color: #fff;
}


/*VERSIONE TABLET*/
@media screen and (min-width: 768px) {
    ul li{
        display: inline;
        
    }
    #Presentation img{
        width: 200px;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    
}


/*VERSIONE DESKTOP*/
@media screen and (min-width: 992px) {
    .row{
        display: flex;
        justify-content: space-between;
    }

    #info-ricette .col-video {
        width: 70%;
    }

    #info-ricette .col-info {
        width: 30%;
    }
    .col{
        width: 50%;
    }

    .end-one{
        text-align: left;
    }
    .end-two{
        text-align: right;
    }

    .banner{
        display: block;
    }
   
    ul li{
        display: block;
    }
    


}